* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
}

/* 
styling Header */
.header-nav {
  background-image: linear-gradient(to right, indigo, purple);
  display: flex;
  align-items: center;
  color: aliceblue;
}

.header-img {
  height: 5rem;
  padding: 1rem;
}

/* 
styling input form */
.input-form {
  display: flex;
  flex-direction: column;
}

.second-input {
  align-self: end;
}

.btn-submit {
  width: 100%;
  color-scheme: blueviolet;
}