* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
}

/* 
styling Header */
.header-nav {
  background-image: linear-gradient(to right, indigo, purple);
  display: flex;
  align-items: center;
  color: aliceblue;
}

.header-img {
  height: 5rem;
  padding: 1rem;
}

/* 
styling input form */
.input-form {
  display: flex;
  flex-direction: column;
}

.second-input {
  align-self: end;
}

.btn-submit {
  width: 100%;
  color-scheme: blueviolet;
}

.meme-image {
  display: flex;
  justify-content: center;
  position: relative;

}

.meme-text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: auto;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
    2px 2px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    0 2px 0 #000,
    2px 0 0 #000,
    0 -2px 0 #000,
    -2px 0 0 #000,
    2px 2px 5px #000;
}

.bottom {
  bottom: 5rem;
}

.top {
  top: 5rem;
}